.css-7vrie7-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
  color: #b2a300 !important;
}

.css-3waxnh-MuiStepper-root{
  padding-left:0px !important ;
  padding-right: 0px !important;
}

.MuiBox-root.css-mt9fmo{
  padding: 12px !important;
}
.css-hpgf8j{
  padding: 0px 12px !important;
}

.MuiBox-root.css-667s6x{
  margin-bottom: 40px !important;
}